# Data
data/*
!data/dataset_info.txt
*.mat

# Models and Checkpoints
checkpoints/*
!checkpoints/*.pth
!checkpoints/scaler.pkl
*.pkl

# Environments and System
.venv/
venv/
env/
__pycache__/
*.pyc
.DS_Store
.idea/
.vscode/

# Archive/Unused
unused/
archive/
